<div class="footer">
    <div class="contact-me">
        <p>Get In Touch</p>
    </div>
    <div class="social-logos">
        <a href="https://www.github.com/jry2112/">
            <img src="assets/images/icons8-github-48.png">
        </a>
        <a href="https://www.linkedin.com/in/jadayoung/">
            <img src="assets/images/icons8-linkedin-48.png">
        </a>
        <a href="mailto:contact@jadayoung.me">
            <img src="assets/images/icons8-email-50.png">
        </a>

    </div>
    <div class="credits">
        <p>
            LinkedIn, Email, and Github icons provided courtesy of <a href="https://icons8.com/">icons8</a> 
        </p>
    </div>
</div>