/* Body */

a {
    text-decoration: none;
}

body {
    background-color: #A9BCD0;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0;
}

/*Background */

.background-page {
    background-color: #D8DBE2;
    box-shadow: 10px 5px 5px #8A93A8;
    border-radius: 10px 15px 15px 10px;;
    position: relative;
    top: 15px;
    margin: auto;
    width: 80%;
    padding-top: 2rem;
}

/* Bio */
.bio-info {
    position: relative;
    margin: auto;
    width: 90%;
    height: auto;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    top: 5%;
}

h1.bio-info {
    color: #272A2F;
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: relative;


}

div.bio-info-body {
    position: relative;
    width: 65%;
    float: left;
    margin: auto;
}

div.bio-info-image {
    position: relative;
    top: 20px;
    width: 35%;
    margin: auto;
    float: right;
}

.short-bio {
    position: relative;
    padding: 10%;
    width: 50em;
}

.headshot {
    border-radius: 15% 20%;
    max-width: 100%;
    height: auto;
}


.name {
    color: #41818B;
    font-size: 6rem;
}

.section-header {
    color:#5B6886;
    padding: 1.5rem 2rem;
}

#spacer {
    height: 4rem;
}

/* About Me */
div.about-me {
    position: relative;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
}

div.about-me > h2 {
    margin: 20px;
    padding: 0 5rem;
}

div.about-me > p {
    padding: 0 5rem;
    text-align: justify;
}

div.skills, div.education {
    padding: 0 5rem;
}
strong.section-category {
    width: 20%;
    height: 3rem;
}

.skills-list {
    list-style: none;
    text-align: justify;
}

.skills-list li {
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(88, 164, 176, 0.3);
    padding: 5px 8px;
    margin: 5px .7rem;
}

.degree-title {
    text-align: left;
}

.degree-table {
    position: relative;
    width: 100%;
}

.degree-table-div {
    padding-bottom: 5%;
}

.degrees-list > li {
    position: relative;
    height: 55px;
}

.courses-list li {
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(88, 164, 176, 0.3);
    padding: 5px 8px;
    margin: .5rem 1rem;
}

.cu-class {
    text-align: left;
}

.section-category {
    float: left;
}

p.section-category {
    float: left;
    position: relative;
    bottom: 5rem;
}

/* Certifications */
.certifications {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
}

/* Projects */
div.projects {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
}

div.project-section {
    padding: 0 0 2rem 0;
}

.project-title {
    margin-bottom: 1rem;
}

.project-title {
    position: relative;
}

.project-screenshot {
    position: relative;
    width: 80%;
    height: auto;
}

/* Experience */
div.experience {
    background-color: white;
    padding-bottom: 2rem;
}

.job-title {
    color: #41818B;
    font-weight: 700;
    margin: 2.25rem;
    position: relative;
}

.job-position {
    list-style: none;
    display: inline;
}

.job-position > li {
    border-radius: 10px;
    display: inline-block;
}

.job-tasks {
    margin-bottom: 2%;
}

.job-tasks > li {
    width: 90%;
}

.company {
    margin: 0 3rem;
}

.startdate {
    padding: 0 1rem 0 0;
}

.enddate {
    padding: 0 0 0 1rem;
}

.date-hyphen {
    color:#41818B;
}

